.contact-container{
    margin: 4rem 0;
    position: relative;
}

.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.contact-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
}

@media(max-width:768px){
    .contact-container {
        flex-direction: column-reverse;
    }

    .contact-container h5{
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .contact-content{
        flex-wrap: wrap;
    }
}